
regress@PE1_RE> show configuration | no-more 
## Last commit: 2026-06-25 06:01:17 PDT by regress
version 24.4R2-S3.2;
groups {
    re0 {
        system {
            host-name PE1_RE;
            backup-router 10.49.31.254;
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address 10.49.0.137/19;
                    }
                }
            }
        }
    }
    re1 {
        system {
            host-name PE1_RE1;
            backup-router 10.49.31.254;
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address 10.49.25.108/19;
                    }
                }
            }
        }
    }
    global {
        system {
            root-authentication {
                encrypted-password "$1$ZUlES4dp$OUwWo1g7cLoV/aMWpHUnC/"; ## SECRET-DATA
            }
            login {
                class wheel {
                    permissions snmp;
                }
                user regress {
                    uid 928;
                    class superuser;
                    shell csh;
                    authentication {
                        encrypted-password "$1$kPU..$w.4FGRAGanJ8U4Yq6sbj7."; ## SECRET-DATA
                    }
                }
                user remote {
                    uid 2000;
                    class super-user;
                }
            }
            services {
                netconf {
                    ssh;
                }
                ssh {
                    root-login allow;
                }
                finger;
                ftp;
                rlogin;
                telnet;
                xnm-clear-text;
            }
            domain-name englab.juniper.net;
            domain-search [ englab.juniper.net juniper.net jnpr.net ];
            time-zone America/Los_Angeles;
            debugger-on-break;
            dump-on-panic;
            authentication-order [ password radius tacplus ];
            name-server {
                10.49.32.95;
                10.49.32.97;
            }
            radius-server {
                10.48.144.16 secret "$9$iHfz9Cu0BRQznCApIRSreWxNVw2GjkKM4JGimP"; ## SECRET-DATA
                10.48.144.17 secret "$9$iHfz9Cu0BRQznCApIRSreWxNVw2GjkKM4JGimP"; ## SECRET-DATA
            }
            syslog {
                host log {
                    kernel info;
                    any notice;
                    pfe info;
                    interactive-commands any;
                }
                file messages {
                    kernel info;
                    any notice;
                    authorization info;
                    pfe info;
                    archive world-readable;
                }
                file security {
                    interactive-commands any;
                    archive world-readable;
                }
            }
            processes {
                routing enable;
                ntp enable;
                management enable;
                watchdog enable;
                snmp enable;
                inet-process enable;
                mib-process enable;
            }
            ntp {
                boot-server 66.129.255.75; ## Warning: 'boot-server' is deprecated
                server 66.129.255.75;
                server 172.29.131.60;
                server 172.29.135.60;
            }
        }
        chassis {
            dump-on-panic;
        }
        interfaces {
            lo0 {
                unit 0 {
                    family inet {
                        address 128.49.0.137/32 {
                            primary;
                        }
                    }
                    family iso {
                        address 47.0005.80ff.f800.0000.0108.0001.0100.4900.0137.00;
                    }
                    family inet6 {
                        address abcd::128:49:0:137/128 {
                            primary;
                        }
                    }
                }
            }
        }
        snmp {
            location "Quincy lab";
            interface fxp0.0;
            community public {
                authorization read-only;
            }
            community private {
                authorization read-write;
            }
        }
        routing-options {
            router-id 128.49.0.137;
            static {
                /* corperate and alpha net */
                route 172.16.0.0/12 {
                    next-hop 10.49.31.254;
                    retain;
                    no-readvertise;
                }
                /* eng lab nets */
                route 192.168.0.0/16 {
                    next-hop 10.49.31.254;
                    retain;
                    no-readvertise;
                }
                /* IT Networks */
                route 10.0.0.0/8 {
                    next-hop 10.49.31.254;
                    retain;
                    no-readvertise;
                }
                /* Sacramento */
                route 66.129.0.0/16 {
                    next-hop 10.49.31.254;
                    retain;
                    no-readvertise;
                }
            }
        }
    }
}
apply-groups [ global re0 re1 ];
system {
    login {
        user admin {
            uid 2001;
            class super-user;
        }
        user labroot {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$6$stgiGhS4$5zZ4LoGm.5P4SBS/W..9tCy3biWF76mqIgEi0W.sZVBZa/XpBQbomdQ1Kd4DoOvQtv/0upWmMIommzpLE0XWm0"; ## SECRET-DATA
            }
        }
    }
    ports {
        console log-out-on-disconnect;
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.10.11.2/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.10.12.1/24;
            }
            family mpls;
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 10.10.16.1/24;
            }
            family mpls;
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 1.1.1.1/32;
            }
            family mpls;
        }
    }
}
policy-options {
    policy-statement NHS {
        from {
            protocol bgp;
            route-type external;
        }
        then {
            next-hop self;
        }
    }
    policy-statement bgp_to_ospf {
        from protocol bgp;
        then accept;
    }
    policy-statement lb {
        then {
            load-balance per-packet;
        }
    }
    policy-statement ospf_to_bgp {
        from protocol ospf;
        then accept;
    }
}
routing-instances {
    L3VPN_CUST {
        instance-type vrf;
        protocols {
            ospf {
                area 0.0.0.1 {
                    interface ge-0/0/0.0;
                }
                export [ ospf_to_bgp bgp_to_ospf ];
            }
        }
        interface ge-0/0/0.0;
        route-distinguisher 1.1.1.1:200;
        vrf-target target:54001:200;
        vrf-table-label;
    }
}
routing-options {
    router-id 1.1.1.1;
    autonomous-system 65001;
    srlg {
        srlg-dark {
            srlg-value 101;
            srlg-cost 1;
        }
    }
    forwarding-table {
        export lb;
    }
}
protocols {
    bgp {
        group internal {
            family inet {
                unicast;
            }
            family inet-vpn {
                unicast;
            }
            export NHS;
            neighbor 4.4.4.4 {
                local-address 1.1.1.1;
                peer-as 65001;
            }
        }
    }
    mpls {
        admin-groups {
            vendor-Green 1;
            vendor-Orange 2;
        }
        label-switched-path HEX.PE2_to_TH.PE2 {
            to 7.7.7.7;
            revert-timer 120;
            node-link-protection;
            adaptive;
            primary path_1;
            secondary path_2 {
                admin-group exclude vendor-Green;
                standby;
            }
        }
        label-switched-path TO_RR {
            to 4.4.4.4;
        }
        path path_1 {
            6.6.6.6 strict;
        }
        path path_2 {
            2.2.2.2 strict;
        }
        interface ge-0/0/1.0;
        interface ge-0/0/2.0 {
            srlg srlg-dark;
            admin-group vendor-Green;
        }
    }
    ospf {
        traffic-engineering;
        area 0.0.0.0 {
            interface ge-0/0/1.0;
            interface ge-0/0/2.0;
            interface lo0.0;
        }
    }
    rsvp {
        interface all;
        interface ge-0/0/2.0 {
            link-protection {
                exclude-srlg;
            }
        }
        interface ge-0/0/1.0 {
            link-protection;
        }
    }
}